/* Settings for the Settings Button */
.settings-container {
    /* Ensure that the subsequent menus will be positioned relative to this container */
    position: relative;

    /* Inline to allow elements to sit in the same line without breaking new line and takes up space as much required */
    display: inline-block;

    /* Get rid of spacing so that user must hover over icon only */
    padding: 0;
    margin: 0;
}

.main-settings-menu, .subtitles-menu, .speed-menu, .quality-menu {
    /* Position must be absolutely fixed to the parent, which is relative */
    position: absolute;

    /* Place the menu above the settings button */
    bottom: 85%;
    /* Center the menu horizontally */
    left: 50%;
    transform: translateX(-50%);

    /* Dimensions */
    width: 10vw;
    max-width: 300px;
    height: auto;
    border-radius: 5px;

    /* Background to be a bit translucent */
    background: rgba(0, 0, 0, 0.7);

    /* Center the Menu horizontally and vertically */
    display: flex;
    flex-direction: column;

    /* Since column, main axis is vertical, which we want to center */
    justify-content: center;
    /* Horizontal we want items to be at the start and end */
    align-items: flex-start;

    /* Hide it until user hovers over it */
    opacity: 0;
    transition: opacity 0.5s;

    /* Prevent hover effects on the volume slider itself */
    pointer-events: none;

    /* Remove the ul look */
    list-style-type: none;
}

.settings-menu-container li:hover, 
.subtitles-menu li:hover, 
.speed-menu li:hover, 
.quality-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* This will make the menu visible when you control it with state */
.menu-visible {
    opacity: 1;
    pointer-events: auto;
}

/** For Smaller Media Control at the Media Bar */
.responsive-mediabar-container {
    /* vw & vh are viewport width and heights, which are relative to the viewport width and height, making the icons scale with the screen size. */
    width: 3vw;
    height: 3vw;

    /* Setting maximum & minimum sizes for the icons to prevent them from being big */
    min-width: 20px;
    min-height: 20px;
    max-width: 40px;
    max-height: 40px;
}
.responsive-mediabar-button {
    font-size: 2vw;
    color: white;

    /* Setting maximum & minimum sizes for the icons to prevent them from being big */
    min-width: 10px;
    min-height: 10px;
    max-width: 30px;
    max-height: 30px;
}
